@import "tailwindcss";
@import "tw-animate-css";

@utility text-balance {
  text-wrap: balance;
}

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(9% 0 0);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(9% 0 0);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(9% 0 0);
  --color-primary: oklch(50% 0.15 145);
  --color-primary-foreground: oklch(15% 0 0);
  --color-secondary: oklch(52% 0.14 175);
  --color-secondary-foreground: oklch(15% 0 0);
  --color-muted: oklch(96% 0 0);
  --color-muted-foreground: oklch(45% 0 0);
  --color-accent: oklch(96% 0 0);
  --color-accent-foreground: oklch(15% 0 0);
  --color-destructive: oklch(15% 0.15 144);
  --color-destructive-foreground: oklch(98% 0 0);
  --color-border: oklch(0% 0 0);
  --color-input: oklch(90% 0 0);
  --color-ring: oklch(9% 0 0);
  --color-chart-1: oklch(65% 0.15 12);
  --color-chart-2: oklch(55% 0.12 173);
  --color-chart-3: oklch(40% 0.08 197);
  --color-chart-4: oklch(70% 0.18 43);
  --color-chart-5: oklch(72% 0.20 27);
  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: oklch(9% 0 0);
    --color-foreground: oklch(98% 0 0);
    --color-card: oklch(9% 0 0);
    --color-card-foreground: oklch(98% 0 0);
    --color-popover: oklch(9% 0 0);
    --color-popover-foreground: oklch(98% 0 0);
    --color-primary: oklch(50% 0.15 145);
    --color-primary-foreground: oklch(15% 0 0);
    --color-secondary: oklch(52% 0.14 175);
    --color-secondary-foreground: oklch(15% 0 0);
    --color-muted: oklch(25% 0 0);
    --color-muted-foreground: oklch(64% 0 0);
    --color-accent: oklch(25% 0 0);
    --color-accent-foreground: oklch(98% 0 0);
    --color-destructive: oklch(15% 0.15 144);
    --color-destructive-foreground: oklch(98% 0 0);
    --color-border: oklch(0% 0 0);
    --color-input: oklch(25% 0 0);
    --color-ring: oklch(83% 0 0);
    --color-chart-1: oklch(60% 0.14 220);
    --color-chart-2: oklch(55% 0.12 160);
    --color-chart-3: oklch(65% 0.16 30);
    --color-chart-4: oklch(65% 0.13 280);
    --color-chart-5: oklch(70% 0.15 340);
  }
}

* {
  border-color: theme(colors.border);
}

body {
  background-color: theme(colors.background);
  color: theme(colors.foreground);
}